h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: lightseagreen;
    text-align:left;
  }
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    color: lightseagreen;
    text-align: center;
  }
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    color: lightseagreen;
    text-align:left;
  }
h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align:left;
}

h5{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align:left;
}


  body {
    width: 100%;
    min-height:100%;
    background-color: lightgray;
  }

  .col {
    width: 100%;
  } 

  .div{
    background-color: white;
  
  }
  
  .divbody{
    background-color: white;
    width: 80%
  }

  .homebtn{
    width: 18px;
    background: lightseagreen;
    
  }
  
  .img  a:hover {
    display: block;
}
 